
<h2 style="text-align : center; font-weight : bold; text-decoration : underline;" class="page-header">redb17 Forum</h2>
<div style="background-color: lightyellow; width: auto; border: 2px solid black; padding: 5px; margin: 5px;" class="homeStuff">
  <h4 style="text-align : center; font-weight : bold;">Hello! Welcome to redb17 Forum. <br><br>You can ask your questions by registering yourself or logging in.</h4>
  <br>
  <h4 style="text-align : center; font-weight : bold;">{{userNumber}} users have registered !</h4>
  <h4 style="text-align : center; font-weight : bold;">{{quesNumber}} questions have been asked !</h4>
  <h4 style="text-align : center; font-weight : bold;">{{ansNumber}} answers have been added !</h4>
  <h4 style="text-align : center; font-weight : bold;">{{commNumber}} comments have been posted !</h4>
  <br>
</div>
